<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <TotalTime>0</TotalTime>
  <Words>8838</Words>
  <Application>WPS 文字</Application>
  <PresentationFormat>Bildschirmpräsentation (4:3)</PresentationFormat>
  <Paragraphs>624</Paragraphs>
  <Slides>26</Slides>
  <Notes>0</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>已用的字体</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>15</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>主题</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>幻灯片标题</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>26</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="42" baseType="lpstr">
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>宋体</vt:lpstr>
      <vt:lpstr>Wingdings</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Symbol</vt:lpstr>
      <vt:lpstr>Kingsoft Sign</vt:lpstr>
      <vt:lpstr>微软雅黑</vt:lpstr>
      <vt:lpstr>汉仪旗黑</vt:lpstr>
      <vt:lpstr>宋体</vt:lpstr>
      <vt:lpstr>Arial Unicode MS</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>Helvetica Neue</vt:lpstr>
      <vt:lpstr>等线</vt:lpstr>
      <vt:lpstr>汉仪中等线KW</vt:lpstr>
      <vt:lpstr>汉仪书宋二KW</vt:lpstr>
      <vt:lpstr>FAU Erlangen-Nürnberg</vt:lpstr>
      <vt:lpstr>Willkommen</vt:lpstr>
      <vt:lpstr>Agenda</vt:lpstr>
      <vt:lpstr>Agenda</vt:lpstr>
      <vt:lpstr>Kapiteltrenner Mehrzeilig möglich</vt:lpstr>
      <vt:lpstr>Textfolie</vt:lpstr>
      <vt:lpstr>Textfolie | zweispaltig</vt:lpstr>
      <vt:lpstr>Textfolie | dreispaltig</vt:lpstr>
      <vt:lpstr>Text- Bildfolie</vt:lpstr>
      <vt:lpstr>Bild- Textfolie</vt:lpstr>
      <vt:lpstr>PowerPoint 演示文稿</vt:lpstr>
      <vt:lpstr>Bildfolie</vt:lpstr>
      <vt:lpstr>Bildfolie</vt:lpstr>
      <vt:lpstr>Bildfolie | dreispaltig</vt:lpstr>
      <vt:lpstr>Inhaltsfolie | Säulendiagramm</vt:lpstr>
      <vt:lpstr>Inhaltsfolie mit Text | Säulendiagramm</vt:lpstr>
      <vt:lpstr>Inhaltsfolie | Torten- &amp; Ringdiagramm</vt:lpstr>
      <vt:lpstr>Inhaltsfolie mit Text | Tortendiagramm</vt:lpstr>
      <vt:lpstr>Inhaltsfolie mit Text | Ringdiagramm</vt:lpstr>
      <vt:lpstr>Inhaltsfolie | Tabellenbeispiel</vt:lpstr>
      <vt:lpstr>Inhaltsfolie mit Text | Tabellenbeispiel</vt:lpstr>
      <vt:lpstr>Folie zur freien Gestaltung | Blau</vt:lpstr>
      <vt:lpstr>Folie zur freien Gestaltung | Zeitstrahl</vt:lpstr>
      <vt:lpstr>Folie zur freien Gestaltung | Weiß</vt:lpstr>
      <vt:lpstr>Folie zur freien Gestaltung | Zeitstrahl</vt:lpstr>
      <vt:lpstr>Zitatfolie</vt:lpstr>
      <vt:lpstr>PowerPoint 演示文稿</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>14.0000</AppVersion>
</Properties>
